#discount-code-button,
#coupon h2
{
    color: transparent;
    position: relative;
    padding-left: 0;
  
    &::after
    {
        content: 'Enter promo or group code';
        color: #fff;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
}