#contenitore_secure li.text-to-cc-form {
    text-align: right;
    margin-right: 23px;
    position: relative;
    top: 10px;
    background: rgba(255,255,255,0.8);
    float: right;
    padding: 2px 10px;
}
