@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800&display=swap');

:root
{
    --red: #9f1c20;
    --mediumred: #c86f72;
    --lightred: #FFDDDD;
    
    --blue: #00538B;
    --mediumblue: #3386BE;
    --lightblue: #8dc6ec;

    --orange: #f89823;
    --darkorange: #DF7F0A;
    --yellow: #f9ffa8;
    --lightyellow: #e8ef96;

    --gray: #BBB;
    --lightgray: #EEE;
    
    --raleway: Raleway;
    --roboto: Roboto;
    --bold: 700;
    --semibold: 600;
}