:root
{
  --orange: #f89823;
  --darkorange: #DF7F0A;
  --yellow: #f9ffa8;
  --lightyellow: #e8ef96;
  --red: #9f1c20;
  --blue: #00538B;
  --lightred: #FFDDDD;
  --mediumred: #c86f72;
  --gray: #BBB;
  --lightgray: #EEE;
  --bold: 700;
  --semibold: 600;
}