.inserted-anchor
{
    font-size: 1.5em;
    padding: 10px 0;
    display: inline-block;
    color: #222;
    margin-left: 10px;
}

a.inserted-anchor
{
    text-decoration: underline;
    
    &:hover
    {
        text-decoration: none;
    }
}