#price-checker .ota_comparison_banner
{
    & > h2
    {
        background: #2862CE;
    }
    
    .score
    {
        background: #E5EFF6;
    }
    
    .ufficiale
    {
        background: #8EC8FF !important;
    }
}