#header > .line, 
#default-footer
{
    background-color: #2B5D68 !important;
}

#header a,
#default-footer,
#default-footer .footer-link a,
#default-footer h1
{
    color: #fff !important;
    font-size: 19px !important;
}

#default-footer .right-col
{
    margin-left: 30px;
}